/* Navbar.css */

.topnav {
    overflow: hidden;
    background-color: #aca8a8;
    padding: 10px 0;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .topnav input {
    float: right;
    padding: 6px;
    margin: 8px 16px;
    font-size: 22px;
    width: 200px;
    border: 1px solid #ccc;
  }
  